<html>
	<body>
	<h1>HELLO <%= users.username %></h1>
	<h2>Your Info is the following</h2>
	<ul> 
			<li><%= users.username %></li>
			<li><%= users.password %></li>
			<li><%= users.Data1 %></li>
			<li><%= users.Data2 %></li>
	</ul>
	</body>
</html>